<h1 style="text-align: center">Events</h1>

<div *ngFor="let event of events" class="card">
    <h2>
        <strong> <a [title]="event.title + ' details'">
            {{ event.title }}
        </a></strong>
    </h2>

    <img src="https://picsum.photos/seed/{{event.id}}/500/150?grayscale"/>


    <div *ngIf="event.description">
        <ul>
            <li>Description: <strong>{{ event.description }}</strong></li>
            <li>Price: <strong>${{event.price}}</strong></li>
            <li>Date: On: <strong>{{ event.date.toDateString() }}</strong></li>
        </ul>
    </div>

    <div class="card-actions">
        <button type="button" (click)="share()">Share</button>

        <app-event-alerts
                [event]="event"
                (notify)="onNotify()">
        </app-event-alerts>
    </div>
    <div class="divider"></div>
</div>