<h1 style="text-align: center">Products</h1>

<h2 style="width:300px; text-align: center">
    <a class="share-button" style="display:block; text-align: center;" href="/new-product" style="display:block;">Create
        product</a>
</h2>
<div class="products-list-container">
    <div class="product-card" *ngFor="let product of products">
        <div class="card">
            <div class="card-image-placeholder">
                <img src="{{ product.image }}" alt="{{ product.name }}"/>
            </div>
            <div class="card-body">
                <h3>
                    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
                        {{ product.name }}
                    </a>
                </h3>

                <p *ngIf="product.description">
                    Description: {{ product.description }} - <strong>${{ product.price }}</strong>
                </p>

                <div class="button-container">
                    <button type="button" class="add-cart-button {{product.count>0? '':'out-class'}}"
                            [disabled]="product.count <= 0"
                            (click)="addToCart(product)">{{product.count>0? 'Add to cart':'Out of stock'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

